<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.savefiledemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.ActUserSignature"/>
        <activity android:name=".act.ActDownloadImage"/>
        <activity android:name=".act.ActImageFileOperation"/>
        <activity android:name=".act.ActTextFileOperation"/>
        <activity android:name=".act.ActImageList"/>
        <activity android:name=".act.ActBigImage"/>
        <activity android:name=".act.ActMoveImage"/>
        <activity android:name=".act.ActTuYaMoreImage"/>
        <activity android:name=".act.ActGraffityImage"/>
    </application>

</manifest>